.wrapper{
    width: calc(32% - 0px);
    margin-right: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
    padding: 10px 50px;
    margin-bottom: 30px;
    position: relative;
}
.wrapper:nth-child(3n){
    margin-right: 0;
}

.content > div:nth-child(1){
    border-right: 4px solid rgb(253,144,9);
    margin-right: 10px;
}

.content .avatar{
    min-width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-right: 20px;
}

.content .information .userInfo{
    margin-bottom: 10px;
}

.content .information .userInfo p:first-child{
    font-size: 24px;
    font-weight: bold;
}

.content .information .userInfo p:last-child{
    font-size: 18px;
    font-style: italic;
}

.footer{
    margin-top: 30px;
}

.footer img{
    width: 100%;
    border-radius: 10px;
}
.wrapper .hoverView{
    transition: all 0.2s linear;
}

@media screen and (max-width: 1600px) {
    .wrapper{
        width: calc(49% - 0px);
    }
    .wrapper:nth-child(3n){
        margin-right: 2%;
    }
    .wrapper:nth-child(2n){
        margin-right: 0%;
    }
}

@media screen and (max-width: 900px) {
    .wrapper{
        width: 100%;
        margin-right: 0
    }
    .wrapper:nth-child(3n){
        margin-right: 0%;
    }
}